.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hero img {
  margin-top: 30px;
  width: 240px;
  border-radius: 122px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 63px;
  font-weight: 600;
  line-height: 66px;
}
.hero h1 span {
  background: linear-gradient(267deg, #df8908 010%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .cont {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 14px 23px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  font-size: 18px;
}
.hero-resume {
  padding: 14px 23px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 18px;
}
.hero-resume a {
  text-decoration: none;
  color: white;
}
.hero-resume a:hover {
  color: #b415ff;
}

.hero-resume:hover {
  border: 2px solid #b415ff;
}
.hero-connect:hover {
  border: 2px solid white;
}

@media (max-width: 768px) {
  .hero {
    margin-left: 25px;
  }
  .hero img {
    width: 260px;
  }
  .hero h1 {
    margin-top: 50px;
    width: 70%;
    font-size: 50px;
  }
  .hero .cont {
    width: 100%;
    font-size: 19px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect {
    padding: 20px;
    border-radius: 40px;
    font-size: 20px;
  }
  .hero-resume {
    padding: 18px 30px;
    border-radius: 40px;
    font-size: 20px;
  }
}
